#Box {
    background-color: rgb(166, 165, 223);
    width:800px;
    height:100%;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
   margin: auto;
   margin-top: 50px;
   padding-bottom: 50px;
  
}

#Box > div {
    width: 300px;
     height: 200px; 
    border: 1px solid blue;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#Box>div:first-child{
   
    text-align: center;
    background-color: rgb(70, 70, 156);
        }
#Box>div:nth-child(2){
            background-color: rgb(44, 44, 99);
        }
#Box>div:nth-child(3){
            background-color: rgb(54, 51, 112);
        }
 #Box>div:nth-child(4){
            background-color: rgb(60, 61, 131);
        }
  #Box>div:nth-child(5){
            background-color: rgb(37, 58, 116);
        }
      #Box>div:nth-child(6){
            background-color: rgb(37, 58, 116);
      }
      