body{
   
    background-color: rgb(170, 185, 113);
    height: 400px;
    align-items: center;
     display: flex; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px darkorange;
    border-radius: 15px;
}
.card{
   width: 600px; 
   height :800px;
   padding: 20px;
   margin: auto;
   border:2px solid rgb(106, 26, 175);
   box-shadow: 0 4px 8px rgb(0,0,0,0.2);
   border-radius: 15px;
   background-color: rgb(13, 150, 109);
   margin-top:70px;

}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
border: 2px circle blue;

}
h2{
    margin: 10px 0 15px;

}
p{
    font-size: 14px;
    color: rgb(128, 39, 39);
}